<!-- This is saying: inherit everything from __base.html -->
{% extends "storePage/partials/__base.html" %}
<!-- Main base template which contains header and footer too -->
{% load crispy_forms_tags %}
<!-- To beautify the form at signup -->
{% block body %}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group ">
                <label class="card-header">Personal Settings</label>
                {% if request.get_full_path == "/settings/profile/" %}
                    <a href="{% url 'profile-settings' %}" class="list-group-item list-group-item-action active"><span class="fa fa-user"></span> Profile</a>
                    <a href="{% url 'account-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-cog"></span> Account</a>
                    <a href="{% url 'security-settings' %}" class="list-group-item list-group-item-action"><i class="fas fa-shield-alt"></i> Security</a>
                    <a href="{% url 'billing-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-credit-card"></span> Billing</a>
                {% endif %}
                {% if request.get_full_path == "/settings/account/" %}
                    <a href="{% url 'profile-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-user"></span> Profile</a>
                    <a href="{% url 'account-settings' %}" class="list-group-item list-group-item-action active"><span class="fa fa-cog"></span> Account</a>
                    <a href="{% url 'security-settings' %}" class="list-group-item list-group-item-action"><i class="fas fa-shield-alt"></i> Security</a>
                    <a href="{% url 'billing-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-credit-card"></span> Billing</a>
                {% endif %}
                {% if request.get_full_path == "/settings/security/" %}
                    <a href="{% url 'profile-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-user"></span> Profile</a>
                    <a href="{% url 'account-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-cog"></span> Account</a>
                    <a href="{% url 'security-settings' %}" class="list-group-item list-group-item-action active"><i class="fas fa-shield-alt"></i> Security</a>
                    <a href="{% url 'billing-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-credit-card"></span> Billing</a>
                {% endif %}
                {% if request.get_full_path == "/settings/billing/" %}
                    <a href="{% url 'profile-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-user"></span> Profile</a>
                    <a href="{% url 'account-settings' %}" class="list-group-item list-group-item-action"><span class="fa fa-cog"></span> Account</a>
                    <a href="{% url 'security-settings' %}" class="list-group-item list-group-item-action"><i class="fas fa-shield-alt"></i> Security</a>
                    <a href="{% url 'billing-settings' %}" class="list-group-item list-group-item-action active"><span class="fa fa-credit-card"></span> Billing</a>
                {% endif %}


            </div>
        </div>
        <!-- Center-right navBar-->
        <div class="col-md-9">
            {% block settingsPageInfo %} {% endblock %} <!-- Here goes the user information on the profile page -->
        </div>
    </div>
</div>




{% endblock %}