{% extends "users/partials/_base.html" %}
{% load crispy_forms_tags %}
{% block settingsPageInfo %}



<div class="card style=" margin-bottom: 20px;"">
    <div class="card-body" style=" padding-bottom: 0px;">
        <div class="row">
            <div class="col-md-12">
                <h4>Billing overview</h4>
                <hr>
            </div>
        </div>
        <h6 class="card-title">Primary shipping address</h6>
        <div class="card">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="card-body">

                    {% if primaryAddressCheck is True %}
                    {% for address in user_AddressList %}
                    {% if address.primaryAddress is True %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ address.name }}</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ address.address1 }}
                            <br>
                            {{ address.state }}, {{ address.zipcode }}
                            <div class="float-right">
                                <a href="{{ address.get_absolute_url }}">Edit</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% else %}
                    No primary address has been set.
                    {% endif %}

                </div>
            </div>
        </div>







        <br>

        <!-- Navbar menu -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-addresses-tab" data-toggle="tab" href="#nav-addresses" role="tab"
                    aria-controls="nav-addresses" aria-selected="true">Your Addresses</a>
                <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab"
                    aria-controls="nav-payment" aria-selected="false">Payment info</a>
            </div>
        </nav>

        <!-- Content -->
        <div class="tab-content" id="nav-tabContent">
            <!-- Address tab -->
            <div class="tab-pane fade show active" id="nav-addresses" role="tabpanel" aria-labelledby="nav-addresses-tab">
                <br>

                <!-- <h6 class="card-title">Other shipping address</h6> -->

                {% for address in user_AddressList %}
                {% if address.primaryAddress is False %}
                <div class="card">
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{ address.name }}</h6>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ address.address1 }}
                                    <br>
                                    {{ address.state }}, {{ address.zipcode }}
                                    <!-- <button class="btn btn-secondary float-right">Button</button> -->
                                    <div class="float-right">
                                        <a href="{{ address.get_absolute_url }}">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                {% endfor %}

                <a type="button" class="btn btn-outline-info float-left" style="margin-bottom: 10px;" href="{% url 'settings:add-address' %}">Add
                    new address</a>





                <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->


            </div>
            <!-- Payment tab -->
            <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">

<br>



                {% for creditcard in user_creditCards %}

                <div class="card">
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{ creditcard.name }}</h6>
                            <div class="row">
                                <div class="col-lg-12">
                                    Number: {{ creditcard.number }}
                                    <br>
                                    Expires: {{ creditcard.expdate_month }}/{{ creditcard.expdate_year }}
                                    <!-- <button class="btn btn-secondary float-right">Button</button> -->
                                    <div class="float-right">
                                        <a href="{{ creditcard.get_absolute_url }}">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                {% endfor %}

                <a type="button" class="btn btn-outline-info float-left" style="margin-bottom: 10px;"
                    href="{% url 'settings:add-creditcard' %}">Add new Credit Card</a>





            </div>
        </div>

    </div>
</div>

{% endblock %}



<!-- for card styes -->
<!-- style="width: 18rem; -->