{% extends "users/partials/_base.html" %}
{% load crispy_forms_tags %}
{% block settingsPageInfo %}


<div class="card style=" margin-bottom: 20px;"">
    <div class="card-body" style=" padding-bottom: 0px;">



        <div class="row">
            <div class="col-md-12">
                <h4>Edit your Credit Card</h4>
                <hr>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_CreditCardForm |crispy}}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name="save_changes">Save changes</button>
            </div>
        </form>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{DeleteCreditCardConfirmation |crispy}}
            <div class="form-group">
                <button class="btn btn-danger" type="submit" name="delete">Delete</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}