<!-- This is saying: inherit everything from __base.html -->
{% extends "storePage/partials/__base.html" %}
{% load crispy_forms_tags %}
<!-- To beautify the form at signup -->
{% block body %}



<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <form method="POST" name="login">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form|crispy }}
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or" style="text-align: center;">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="text-center">Don't have account? <a href="{% url 'signup' %}" id="signup">Sign up here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}